@using Microsoft.AspNetCore.Http;
@model IEnumerable<Indigo.Core.Models.UserConversation>

@{
    ViewData["Title"] = "Home";
}

<h2>Conversations</h2>

<p>
    <a asp-action="CreateConversation">Create Conversation</a>
</p>

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conversation.ConversationName)
                <br/> 
                @(item.Conversation.isGroupChat ? "Group Chat" : "Private Chat")
                with
                @(item.Conversation.UserConversations.SingleOrDefault(uc => uc.User.UserId != Context.Session.GetInt32("CurrentUser")).User.Username)
            </td>
            <td>
                <a asp-action="AccessConversation" asp-route-id="@item.ConversationId">Access</a> |
                @{
                    if (!item.Conversation.isGroupChat)
                    {
                        <a asp-action="DeleteConversation" asp-route-id="@item.ConversationId">Delete</a>
                    }
                    else
                    {
                        <a asp-action="LeaveConversation" asp-route-id="@item.ConversationId">Leave</a>
                    }
                }            
            </td>
        </tr>
}
    </tbody>
</table>